@charset "utf-8";
/* CSS Document */
body{
    font-family: arial;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 1200;
	background-image: url("../images/background.png");
}
a{  
	text-decoration: none;
}

img{
	border: none;
}
ul,li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.slider{
	margin: 5px auto;
	width: 1200px;
	height: 320px;
	position: relative;
	overflow: hidden;
	margin-top: 80px;
}
.conbox{
	position: absolute;
	padding:8px 8px 8px 8px;
	top: 20px;
}
.daohang1{
margin-top: -150px;
}
.daohang1 p{
	color: #3E3E3E;
	
}
.word1{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	font-weight: bold;
	margin-top: 70px;
	margin-left: 150px;
}
.daohang2{
	
margin-top: -230px;
}
.daohang2 p{
	color: #3E3E3E;
	
}
.word2{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	font-weight: bold;
	margin-top: 140px;
	margin-left: 150px;
}
.word3{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	font-weight: bold;
	margin-top: 140px;
	margin-left: 150px;
}
.bottom{
	width: 100%;
	height: 70px;
	background: #262424;
	text-align: center;
}
.bottom a{
	color: #A7A5A5;
	font-size: 14px;
	text-align: center;
}
