@charset "utf-8";
/* CSS Document */

body {
    background-image: url("../images/背景.jpg");
    text-indent: 2em;
}
.daohang {
    margin: auto;
    width: 1200px;
    height: 40px;
    background-color: rgba(0,0,0,0.8);
}
.daohang a {
    color: aliceblue;
    text-decoration: none;
}
.daohang a:hover {
    color: aqua;
}
.daohang ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 150px;
}
.daohang li {
    float: left;
    padding-left: 45px;
    font-size: 12px;
}
.all {
    width: 1010px;
    margin: auto;
    padding-top: 20px;
}
.all-left {
    width: 750px;
    float: left;
    background-color: rgba(255,255,255,1.00);
    padding-right: 20px;
    height: 7500px;
}
.top-t h1 {
    padding-top: 20px;
}
.top-mian img {
    margin-top: 30px;
    padding: 5px;
    border: 1px solid rgba(170,170,170,1.00);
}
.p {
    padding-left: 5px;
    float: right;
    width: 455px;
    font-size: 15px;
}
.jingli {
    padding-top: 10px;
}
.jingli h2 {
    color: rgba(155,165,241,1.00);
    font-size: 23px;
    height: 30px;
    margin-top: 35px;
}
.jiange {
    margin-top: -15px;
    width: 700px;
    height: 3px;
    background-color: antiquewhite;
}
.jingli-main {
    padding-top: 10px;
}
.jingli-main span {
    font-size: 20px;
    padding-left: 15px;
}
.jingli-main p {
    font-size: 15px;
    padding-left: 25px;
}
.jingli-main img {
    float: right;
    padding-left: 20px;
}
.all-right {
    float: right;
    width: 240px;
    height: 7500px;
    background-color: rgba(251,251,251,1.00);
}
.main {
    padding-top: 50px;
}
.main ul {
    list-style: none;
}
.main img {
    width: 155px;
    height: 140px;
}
.main ul li {
    float: left;
    padding-top: 15px;
}
.main a {
    text-decoration: none;
}
.main a:hover {
    color: aqua;
}
