@charset "utf-8";
/* CSS Document */

body{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 12px;
	background-image:url("../images/22.jpg");
	height: 650px;
	background-size: 100%;
	margin-left: 100px;
	margin-top: 200px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	font-weight: bolder;
	color: #000;
}
.main{
	width: 800px;
	height: 610px;
	margin: 0 auto;
	background-color: #FFF;
	opacity:0.8;
	filter:"alpha(opacity=50)";
 -ms-filter:"alpha(opacity=50)"; 
	margin-left: 120px;
}
.main_top{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	width: 800px;
	height: 80px;
	background-color: #FFF;
}
.top_title p{
	width:800px;
	font-size: 20px;
}
.top_title{	
	width: 200px;
	height: 50px;
	background-color: #FFF;
	margin-left: 100px;
	margin-top: 30px;
}