@charset "utf-8";
/* CSS Document */

body{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 12px;
    text-align: center;
	margin: 0 auto;
	padding: 0px;
	background: url("../images/education.jpg");
}
.main{
	width: 1000px;
	height: 6000px;
	margin: 0 auto;
}
.main2{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}
.title{
	width: 1000px;
	height: 50px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	font-weight: bolder;
	margin-top: 50px;
}
.title_time{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	text-align: right;
}
.article{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}
.article span{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 20px;
    font-weight: bold;
}
